<div class="social-icons">
  <div>
    {% if site.github_username %}
      <a class="fa fa-github" href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.linkedin_username %}
      <a class="fa fa-linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.spotify_username %}
      <a class="fa fa-spotify" href="https://open.spotify.com/user/3inmn1rnjtruxm39f1rbs65zc?si=9uWm0yBjTDGNKnxGdAyfkA" target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.instagram_username %}
      <a class="fa fa-instagram" href="https://www.instagram.com/tomaskjay/" target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
  </div>
  <div class="right">
    {% if site.bitcoin_url %}
      <a class="fa fa-bitcoin" href="{{ site.bitcoin_url }}"></a>
    {% endif %}
    {% if site.paypal_url %}
      <a class="fa fa-paypal" href="{{ site.paypal_url }}"></a>
    {% endif %}
  </div>
</div>
<div class="clearfix"></div>
