@charset "UTF-8";
/*!

Junior Theme


Built upon BASSCSS (http://jxnblk.github.io/basscss).

*/

html, body {
  z-index: -10;
  height: auto;
  min-height: 100%;
}

img {
  max-width: 100%;
}

em img {
  max-width: 100%;
  margin-left: 0;
}

body {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
