.site-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: opacity 0.2s ease, position 0.2s ease; //SEE IF NECESSARY
  background-color: #fffaef;
  padding: 0;
}

.site-header a {
  color: #282424;
  font-size: $h4;
  font-weight: 300;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
}

#main-menu {
  background-color: $header-bg;
}

.site-header.shrink #main-menu li {
  padding: 10px 20px;
  margin: 0;
}

/* When the user scrolls, the header will briefly use this class to fade */
.site-header.fading {
  opacity: 0;
  transition: opacity 0.2s
}

/* When the user has scrolled enough, it becomes fixed */
.site-header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  /* keep the same width if you want it to span the full page width */
  width: 100%;
  padding: 0px 0 20px 0;
  z-index: 1000;
  transition: opacity 0.2s ease-in-out;
}

