.site-header a {
  color: #282424;
  font-size: $h3;
  font-weight: 300;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
}

.site-nav {
  margin-top: $space-2;
}

#main-menu {
  background-color: $header-bg;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the header is above other content */
  background-color: #fffaef; /* Set a background color */
  /* Remove the box-shadow */
}

body {
  padding-top: 80px; /* Adjust this value based on the height of your header */
}
