.site-header a {
  color: #282424;
  font-size: $h4;
  font-weight: 300;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
}

.site-nav {
  margin-top: $space-2;
}

#main-menu {
  background-color: $header-bg;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: opacity 0.2s ease, position 0.2s ease; //SEE IF NECESSARY
  background-color: #fffaef;
}

body {
  padding-top: 5rem;
}
