.posts .post:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  font-size: 1.5rem;
  color: #484848;
}

.post-summary {
  margin-top: 0.5em;
  font-size: $base-font-size;
  color: #666;
}

.post-content {
  letter-spacing: -0.32px;
}

.post-footer {
  @extend .italic;
  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 150px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
}

.post-meta-popular-tag {
  margin-left: 0.5em;
  color: white;
  background-color: #aedbf9;
  text-align: center;
  padding: 0.25em;
}

.related-post-title {
  border-bottom: thin solid #fff8e9;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
}

.post-item {
  margin: 0;
  padding: 1rem;
  background-color: #fffef4;
  border-radius: 10px;
  transition: background-color 0.2s ease, color 0.2s ease;
  text-decoration: none; // Remove text decoration for post-item
  color: inherit; // Ensure text color is inherited
}

.post-item:hover {
  background-color: #5c6b84;
  border-radius: 10px;
  color: white;
}

.post-item:hover .post-meta,
.post-item:hover .post-summary {
  color: inherit;
}

.post-item:hover  .post-title {
  color: white;
}

.post-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.post-meta {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #666;
}

.post-title {
  margin-top: 0;
  font-size: 1.25em;
  color: #484848;
}

.post-summary {
  margin-top: 0.5em;
  font-size: $base-font-size;
  color: #666;
}

@media (max-width: $viewport-small) {
  .posts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .post-item:hover {
    background-color: #fffef4;
    color: #484848;
  }
  .post-item:hover  .post-title {
    color: #484848;
  }
}

.conan-header {
  background-color: black;
  color: #e8741c;
  padding: 7px;
  border-radius: 5px;
  display: inline-block;
}